.MyFilterBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

@media(max-width: 570px){
    .MyFilterBox{
        flex-direction: column;
        align-items: end;
    }
}